/*
NAME : YouSungWon
DATE : 24/04/15
Section : 인터넷설계실습
이곳은 나의 사이트의 스타일을 입혀줄 CSS이다 헬스 관련 페이지를 만들고싶으니
빨간색이나 검정색 계열의 스타일을 원하고있지만 아직은 설계만 하고있다!
*/

/*
  Remember: This body ruleset is to get you started, but does not count
  towards the CSP requirements!
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background-color: lightsteelblue;
  font-family: "Nunito";
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

main {
  background-color: aqua;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #333;
}